html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;*/
}

body {
  background-color: rgb(247, 253, 252);
}

.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-right:100px;
  padding-left:100px;
}

.form-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-left: 200px;
  width: 580px;
  height: 670px;
  margin-top: 81px;
  margin-bottom: 81px;
  padding-top: -20px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: non;
}

h3 {
  font-family: Brown;
  font-size: 50px;
  font-weight: 700px;
  line-height: 50px;
  letter-spacing: -0.800000011920929px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: fit-content;
}

.desktop_text {
  font-family: Brown;
  font-size: 20px;
  font-weight: 500px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: hsla(0, 0%, 45%, 1);
  margin-top: -20px;
}

.mobile_text {
  display: none;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: "Sofia Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.input-form {
  width: 238px;
  height: 48px;
  top: 24px;
  display: flex;
  align-items: center;
  margin: 20px;
  display: block;
  border: 1px solid #ced4da;
}

.form-wrap {
  position: inherit;
  display: inline-block;
}

.select-gender {
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 0 auto;
  background-color: white;
}

.select-activity {
  width: 535px;
  height: 48px;
  align-items: center;
  margin: 20px;
  top: 24px;
  display: block;
  border: 1px solid #ced4da;
}

.input-pwd {
  width: 535px;
  height: 48px;
  align-items: center;
  margin: 20px;
  margin-top: 100;
  display: block;
  border: 1px solid #ced4da;
}

.header {
  margin-left: 50px;
  padding-bottom: 100px;
  max-width: 460px;
}

a {
  color: rgb(46, 196, 182);
  text-decoration: none;
}

a:hover {
  color: red;
}

a:link:active {
  color: rgb(46, 196, 182);
  text-decoration: underline;
  cursor: auto;
}

p {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

button {
  width: 545px;
  height: 48px;
  top: 631px;
  left: 760px;
  background-color: rgb(46, 196, 182);
  margin-left: 20px;
  margin-top: 10px;
}

.terms-and-conditions {
  font-family: "Sofia Pro";
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

/*Styles for small devices*/
@media only screen and (max-width: 800px) {
  .main-container {
    display: block;
    justify-content: center;
    margin-top: 0px;
    padding-left: 5px;
    padding-right:50px;
  }
  .form-wrap .form-label {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  .form-container {
    display: block;
    justify-content: center;
    padding: 20px;
    margin:0;
    width: 350px;
    height: 875px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
    padding-left: 5px;
    padding: 5px;
  }
  .desktop_text {
    display: none;
  }
  .header {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    margin-left: 10px;
    
  }
  .mobile_text {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0px;
    margin-top: -15px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 45%, 1);
  }
  .input-form,
  .input-pwd,
  .select-activity {
    width: 295px;
    height: 48px;
    margin-left: 20px;
  }
  button {
    width: 290px;
    height: 48px;
    margin-left: 20px;
  }
  label {
    display: flex;
    width: 100px;
    margin-bottom: -10px;
    margin-left: 20px;
  }
  .form-wrap,
  .form-label {
    margin-top: 8px;
  }
  h1 {
    font-family: Brown;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
    padding-top: -30px;
    width: 100%;
    
  }
  .terms-and-conditions {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #000;
    font-weight: 500;
    margin-top: 40px;
  }
form{
  display: block;
  width: 100%;
  margin-top: 0px;
  margin:0px;
  height: fit-content;
}
}
